// bower:sass
// endbower

html, body
	margin: 0
	padding: 0
	height: 100%
	width: 100%

body
	font-family: Verdana
	font-size: 13px
	text-align: center
	background: #000
	color: #fff
	overflow: hidden

.page-wrapper
	display: block
	position: relative
	height: auto !important
	min-height: 100%
	width: 100%
	text-align: center
	.column
		display: block
		float: left
		width: 20px
		height: 100%
	.row
		display: block
		height: 20px
		width: 100%
